@import '../../../variables';

.video-layer {
  height: 110vh;
  position: relative;
  overflow: hidden;
  .video {
    position: absolute;
    width: 100%;
  }
  .content-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: $light;
      font-size: 3rem;
      text-align: center;
    }
  }
}