@import '../../../variables';

.section-two {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $background-color;
    font-size: 3rem;
    text-align: center;
  }
}