@import '../../../variables';

.technology-layer {
  display: flex;
  justify-content: center;
  .content-wrapper {
    height: 100vh;
    display: flex;
    width: 80%;
    .column-wrapper {
      width: 50%;
      display: flex;
      flex-direction: column;
      .technology-wrapper {
        display: flex;
        align-items: center;
        height: 100%;
        p {
          font-size: 2rem;
          color: $text-color-light-dark;
        }
        .image, img {
          width: 256px;
          height: 256px;
        }
      }
    }
    .column-two {
      padding-left: 1rem;
      p {
        text-align: end;
        padding-right: 1rem;
      }
    }
  }
}