@import '../../../variables';

.transition-layer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    color: $dark;
    font-size: 3rem;
    text-align: center;
  }
}