@import "../../../variables";

.welcome-layer {
  transition: all 0.3s;
  background: url("../../../assets/sectionOneBackground.jpg") no-repeat fixed
    center;
  background-size: cover;
  height: 110vh;
  color: $light;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  .text-wrapper {
    width: 100%;
    line-height: normal;
    p {
      transition: all 0.3s;
      margin-bottom: 0.5rem;
      margin-left: 20%;
    }
    .author {
      p {
        font-size: 2rem;
        transform: translateY(-3rem);
      }
    }
    .dynamic-text,
    .author {
      color: $lime;
    }
    .dynamic-text {
      opacity: 0;
      margin-left: 12px;
      transition: opacity 0.3s;
    }
    .last-line {
      display: flex;
    }
  }
}

@media (max-width: 992px) {
  .welcome-layer {
    background: url("../../../assets/sectionOneBackgroundMobile.jpg") no-repeat
      fixed center;
    .text-wrapper {
      p {
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
      }
      .last-line {
        justify-content: center;
        .dynamic-text {
          font-size: 2rem;
        }
      }
      .author {
        p {
          font-size: 3rem;
        }
      }
    }
  }
}
