@import "../../variables.scss";

.header-wrapper {
  background-color: $dark;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: $index-navbar;
  .navbar {
    box-shadow: 0px 5px 5px 0px $dark;
  }
  a {
    color: $light !important;
  }
  nav {
    padding: 10px 100px;
  }
}
