@import "../../../variables";

.social-media-layer {
  height: 110vh;
  position: relative;
  overflow: hidden;
  .video {
    position: absolute;
    width: 100vw;
  }
  .content-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100vw;
    color: $background-color;
    .header {
      font-size: 6rem;
      text-align: center;
      margin-top: 5rem;
    }
    .content {
      display: flex;
      .column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
        bottom: 5rem;
        padding: 0 5rem;
        .social-element {
          display: flex;
          width: 100%;
          align-items: center;
          padding: 1rem 0;
          .icon-wrapper {
            width: 80px;
            height: 80px;
            margin-right: 2rem;
          }
          a {
            font-size: 2rem;
            text-decoration: none;
            color: $background-color;
          }
          a:hover {
            text-decoration: underline !important;
          }
        }
      }
      .left-side {
        p {
          margin-top: 2rem;
        }
        p {
          font-size: 4rem;
        }
        img {
          box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
