@import '../../../variables';

.social-media-layer {
  height: 110vh;
  position: relative;
  overflow: hidden;
  .video {
    position: absolute;
    width: 100vw;
  }
  .content-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100vw;
    color: $background-color;
    .header {
      font-size: 6rem;
      text-align: center;
      margin-top: 5rem;
    }
    .content {
      display: flex;
      .column {
        outline: 1px solid red;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: relative;
        bottom: 5rem;
      }
      .left-side {
        img, p {
          padding: 1rem 0;
        }
        p {
          font-size: 4rem;
        }
      }
    }
  }
}